<!-- File: templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App - Login/Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon_logo.jpg') }}">
</head>
<body>
    <div class="container">
        <h2>Welcome to Quiz App</h2>
        <form id="authForm" method="post" action="/login">
            <input type="text" name="username" placeholder="Enter your username" required>
            <input type="password" name="password" placeholder="Enter your password" required>
            <button type="submit">Login / Register</button>
        </form>
    </div>
</body>
</html>
